{% extends 'base.html' %}


{% block head %}
Formulario Enviado!

{% endblock %}


{% block content %}
      <div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"># Datos de la Encuesta</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Correo: </td>
                    <td>{{data.email}}</td>
                  </tr>
                  <tr>
                    <td>Edad: </td>
                    <td>{{data.edad}}</td>
                  </tr>
                  <tr>
                    <td>Sexo: </td>
                    <td>{{data.sexo}}</td>
                  </tr>
                  <tr>
                    <td>Red Social de Preferencia: </td>
                    <td>{{data.redFavorita}}</td>
                  </tr>

                  <tr>
                    <td>Tiempo en Facebook: </td>
                    <td>{{data.tmpFacebook}}</td>
                  </tr>
                
                  <tr>
                    <td>Tiempo en WhatsApp: </td>
                    <td>{{data.tmpWhatsApp}}</td>
                  </tr>
                  
                  <tr>
                    <td>Tiempo en Twitter: </td>
                    <td>{{data.tmpTwitter}}</td>
                  </tr>
                  
                  <tr>
                    <td>Tiempo en Instagram: </td>
                    <td>{{data.tmpInstagram}}</td>
                  </tr>
                  
                  <tr>
                    <td>Tiempo en TikTok: </td>
                    <td>{{data.tmpTiktok}}</td>
                  </tr>
                </tbody>
              </table>
              
              
      
      <a class="btn btn-success" href="{{ url_for('Principal')}}" role="button">Volver a la Pagina Principal</a>

    </div>
      {% endblock %}
    